<div class="event_card">
    <div class="event_header">
        <p>
            {{event.name}}
        </p>
    </div>
    <div class="event_description">
        <p> {{event.description}} </p>
    </div>
    <div class="volunteer_btn">
        <button type="submit">Volunteer!</button>
    </div>
    <!--after volunteering enter modal for 'you volunteered'-->
</div>