<section> 
    <header class="pg_topper"> my events:</header>
       
       <div class="my_event_card">  
        <div class="event_header">
        <p>
            {{myevent.name}}
        </p>
    </div>
    <div class="event_description">
        <p> {{myevent.description}} </p>
    </div>
        </div>

    </section>