<section> 
        <div class="vol_event_card">  
    <header class="pg_topper"> volunteer events:</header>
       <div class="event_header">
        <p>
            {{volutneerevent.name}}
        </p>
    </div>
    <div class="event_description">
        <p> {{volunteerevent.description}} </p>
    </div>
        </div>

    </section>