<!--enter html-->
<button type="button" class="event_modal" id="event_modal">need a hand</button>
<button type="button" id="allEventsBtn" class="all_events">all events</button>
<button type="button" class="logout_btn">logout</button>

{{#each events as |event|}}
  {{#if (eq event.user_id user.id)}}
    {{> my-event}}
  {{/if}}
{{/each}}

{{#each events as |event|}}
  {{#if (eq event.user.volunteerEvent_id user.volunteerEvent_id)}}
    {{>volevent}}
  {{/if}}
{{/each}}

<!--............MODAL.................-->
<div id="eventModal" class="eventmodal">
  
    <span class="eventclose">&times;</span>
    
    <h1 class="modalheader">Get a Hand</h1>

<form>

  <label for="event_name">event name</label>
  <input class="inputfields" type="text" id="event_name" name="event_name"><br>
  
  <label for="event_date">event date</label>
  <input class="inputfields" type="date" id="event_date" name="event_date"><br>
  
  <div class="dropdown">
  <label for="event_type">event type</label><br>
  <select name="event_type" id="event_type">
    <option value="Yard Work">Yard Work</option>
    <option value="Moving">Moving</option>
    <option value="Emotional Support">Emotional Support</option>
    <option value="Animal Care">Animal Care</option>
    <option value="Babysitting">Babysitting</option>
  </select>
  </div>

  <label for="volnum">number of volunteers</label>
  <input class="inputfields" type="number" id="volnum" name="volnum"><br>

    <label for="state">state</label>
  <input class="inputfields" type="text" id="state" name="state"><br>

  <label for="eventzip">zipcode</label>
  <input class="inputfields" type="number" id="eventzip" name="eventzip"><br>

 <label for="event_description">event description</label>
  <input class="inputfields" type="text" id="event_description" name="event_description"><br>

<a href="./dashboard.handlebars"><button class="submissionBtn" type="submit" id="event_submission" onclick="createEvent(event)" class="eventsubmit">create event</button></a>
  
</form>

 </div>
</div>
