    

<div class="flex mb-4"><!--whole container-->


  <div class="w-1/2 bg-gradient-to-r from-blue-300 to-yellow-900 flex flex-col items-center"><!--my events contained--> 
    <h2>welcome to your dashboard!</h2>

    {{#each events as |event|}}
            {{!-- TODO: Put back eq --}}
            {{!-- {{#if (eq event.user_id user.id)}} --}}
    {{>my-event}}
            {{!-- {{/if}} --}}
    {{/each}}

  </div>

<!---->

  <div class="w-1/2 bg-gradient-to-r from-yellow-900 via-blue-200 to-yellow-800 flex flex-col items-center"><!--volunteer event-->
    {{#each events as |event|}}
            {{!-- TODO: Put back eq --}}

            {{!-- {{#if (eq event.user.volunteerEvent_id user.volunteerEvent_id)}} --}}
    {{>volevent}}
            {{!-- {{/if}} --}}
    {{/each}}


  </div>     
</div>

