<body class="bgcolor">  

<header class="homepageNav">
<button type="button" class="event_modal homepage_btn" id="event_modal">need a hand</button>
<a href="./dashboard.handlebars"><button type="button" id="allEventsBtn" class="all_events homepage_btn">my events</button> </a>
<a href="./login.handlebars"><button type="button" class="logout_btn homepage_btn">logout</button></a>
</header>

<div class="flex">

<div class="leftContainer">
{{#each event as |event|}}

<div class="{{cycle_event_style}}">
{{>all-event-details}}
</div>

{{/each}}
</div>

<div class="rightContainer">
    <div class="event_card card-style-1">
     
</div>
</div>

</body>


<!--enter html-->
<button type="button" class="logout_btn">logout</button>
<div id="allEventsContainer">
{{#each event as |event|}}
<div class="{{cycle_event_style}}">
{{>all-event-details}}
</div>
{{/each}}
</div>
</div>

<!-- button with href as path with "home route"
connected by controller-->
<button type="button" id="myEventsBtn" class="my_event_btn">
<a href="./my-event.handlebars">my events</a>
</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
<script src="/public/js/homepage.js"

