
<div class="flex">

<div class="leftContainer">
{{#each event as |event|}}

<div class="{{cycle_event_style}}">
{{>all-event-details}}
</div>

{{/each}}
</div>

<div class="rightContainer">
    <div class="event_card card-style-1">
     
</div>
</div>

</body>


<!--enter html-->
<div id="allEventsContainer">
{{#each event as |event|}}
<div class="{{cycle_event_style}}">
{{>all-event-details}}
</div>
{{/each}}
</div>
</div>

