
<!-- button with href as path with "home route"
connected by controller-->
<button type="button" id="myEventsBtn" class="my_event_btn">
/my-events/
{{!-- <a href="./my-events">my events</a> --}}
</button>