<div class="row">
  <img class="img2" src="/public/css/Hands2.png" alt="Hands shaking.">
      </img>
    <div class="col-md-9">
      <h1>Login</h1>
  
      <img class="form login-form">
        <div class="form-group pd-5">
          <label for="email-login">email</label>
          <input class="form-input" type="text" id="email-login" placeholder="email@email.com" />
        </div>
        <div class="form-group">
          <label for="password-login">password</label>
          <input class="form-input" type="password" id="password-login" placeholder="password" />
        </div>
        <div class="form-group">
          <button class="btn btn-danger" id="login" type="submit" onclick="loginFormHandler(event)">login</button>
        </div>
        <div>
          
        <a href="#"><button type="button" class="createuser" id="userModalBtn">join us!</button></a>

          
        </div>
      </form>
    </div>
  
<!--...........MODAL......................................................--->
<div id="acctModal" class="acctmodal">
  
    <span class="userclose">&times;</span>
    
<form class="fieldplacement">
  <h1 class="modalheader">Welcome!</h1>

  <label class="label" for="fname">first name</label>
  <input class="inputfields" type="text" id="fname" name="fname"><br>
  
  <label class="label" for="lname">last name</label>
  <input class="inputfields" type="text" id="lname" name="lname"><br>

  <label class="label" for="birthday">birthday</label>
  <input class="inputfields" type="date" id="birthday" name="birthday"><br>

  <label class="label" for="state">state</label>
  <input class="inputfields" type="text" id="state" name="state"><br>

  <label class="label" for="userzip">zipcode</label>
  <input class="inputfields" type="number" id="userzip" name="userzip"><br>

 <label class="label" for="email">email</label>
  <input class="inputfields"type="text" id="email" name="email"><br>

  <label class="label" for="password">password</label>
  <input class= "inputfields"type="text" id="password" name="password"><br>
  
<a href="./dashboard"><button type="submit" class="submissionBtn" id="user_submission" onclick="createUser(event)">welcome!</button></a>


</form>