<form class="fieldplacement">

  <h1 class="modalheader">Welcome back!</h1>

  <label class="label" for="email">email</label>
  <input class="inputfields" type="text" id="email-login" name="email" /><br />

  <label class="label" for="password">password</label>
  <input
    class="inputfields"
    type="text"
    id="password-login"
    name="password"
  /><br />

  <button
    class="btn btn-danger"
    id="login-form"
    type="submit"
    onclick="loginFormHandler(event)"
  >login</button>

  <button type="button" class="createuser" id="userModalBtn">join us!</button>

</form>