{{!-- <div id="acctModal" class="acctmodal">
  <div class="modal-content">
    <span class="userclose">&times;</span>
    
<form>

  <label for="fname">first name</label><br>
  <input type="text" id="fname" name="fname"><br>
  
  <label for="lname">last name</label><br>
  <input type="text" id="lname" name="lname">

  <label for="birthday">birthday</label><br>
  <input type="date" id="birthday" name="birthday">

  <label for="state">state</label><br>
  <input type="text" id="state" name="state">

  <label for="userzip">zipcode</label><br>
  <input type="number" id="userzip" name="userzip">

 <label for="email">email</label><br>
  <input type="text" id="email" name="email">

  <label for="password">password</label><br>
  <input type="text" id="password" name="password">
  I needlink to route that I create
{{!-- <a href="/dashboard"><button type="submit" id="user_submission" onclick="createUser(event)">welcome!</button></a> --}}


</form>

 </div>
</div> --}}