<!--enter html-->
<button type="button" class="event_modal">need a hand</button>
<button type="button" id="allEventsBtn" class="all_events">all events</button>
<button type="button" class="logout_btn">logout</button>

{{#each my-event as |myevents|}}
<!-- my-event = model -->
{{> my-event}}
<!-- calls partial html -->
{{/each}}

{{#each volunteer-event as |myvolunteering|}}
{{> volunteer-event}}
{{/each}}

<!--button with a tag to w/e handlebars is attached to it-->