<!--enter html-->
<button type="button" class="event_modal" id="event_modal">need a hand</button>
<button type="button" id="allEventsBtn" class="all_events">all events</button>
<button type="button" class="logout_btn">logout</button>

{{#each events as |event|}}
  {{#if (eq event.user_id user.id)}}
    {{> my-event}}
  {{/if}}
{{/each}}

{{#each events as |event|}}
  {{#if (eq event.user.volunteerEvent_id user.volunteerEvent_id)}}
    {{>volevent}}
  {{/if}}
{{/each}}

<!--button with a tag to w/e handlebars is attached to it-->