<!--enter html-->

{{#each event as |event|}}
{{>all-event-details}}
{{/each}}

<!-- button with href as path with "homeroute"
conneted by controller-->
 <button class="my"><a href="./myevents.handlebars">my events</a></button>