<!--enter html-->
<button type="button" class="logout_btn">logout</button>
<div id="allEventsContainer">
{{#each event as |event|}}
{{>all-event-details}}
{{/each}}
</div>

<!-- button with href as path with "home route"
connected by controller-->
<button type="button" id="myEventsBtn" class="my_event_btn">
<a href="./my-event.handlebars">my events</a>
</button>