<div class="row">
  <img class="img2" src="/public/css/Hands2.png" alt="Hands holding a heart">
      </img>
    <div class="col-md-9">
      <h1>Login</h1>
  
      <img class="form login-form">
        <div class="form-group pd-5">
          <label for="email-login">EMAIL:</label>
          <input class="form-input" type="text" id="email-login" placeholder="email@email.com" />
        </div>
        <div class="form-group">
          <label for="password-login">PASSWORD:</label>
          <input class="form-input" type="password" id="password-login" placeholder="password" />
        </div>
        <div class="form-group">
          <button class="btn btn-danger" type="submit">login</button>
        </div>
        <div>
          <!--button takes to signup page-->
          <h2 class="pt-5">Sign up to help!!</h2>
          <button class="btn btn-info" type="submit">Join us!</button>
        </div>
      </form>
    </div>
  
<!--.................................................................--->

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Helping Hands
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

<script src="./js/login.js"></script>