<form>

  <label for="event_name">event name</label><br>
  <input type="text" id="event_name" name="event_name"><br>
  
  <label for="event_date">event date</label><br>
  <input type="date" id="event_date" name="event_date">

  <label for="event_type">event type</label><br>
  <input type="event_type" id="event_type" name="event_type">

  <label for="volnum">number of volunteers</label><br>
  <input type="number" id="volnum" name="volnum">

    <label for="state">state</label><br>
  <input type="text" id="state" name="state">

  <label for="eventzip">zipcode</label><br>
  <input type="number" id="eventzip" name="eventzip">

 <label for="event_description">event description</label><br>
  <input type="text" id="event_description" name="event_description">

<a href="./dashboard.handlebars"><button type="submit" class="eventsubmit">create event</button></a>
  
</form>